@import '../_variables';

.pizza-block {
  text-align: center;
  margin-bottom: 65px;

  padding: 0px 25px;
  flex: 0 0 25%;
  position: relative;

  @media (max-width: 1350px) {
    flex: 0 0 33.333%;
  }

  @media (max-width: 1050px) {
    flex: 0 0 50%;
  }

  @media (max-width: 800px) {
    padding: 0px 10px;
  }

  @media (max-width: 650px) {
    flex: 0 0 100%;
  }

  &__loading {
    margin-right: 2.5%;
    margin-bottom: 5%;
  }

  &__image {
    position: relative;
    padding: 0px 0px 100% 0px;
    margin: 0px 0px 20px 0px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include noselect();
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
        &.disabled {
          pointer-events: none;
          opacity: 0.4;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
    @media (max-width: 800px) {
      font-size: 18px;
    }
  }
}
