@import 'fonts';
@import 'variables';
@import 'libs/normalize';

@import 'components/all';

body {
  background-color: $background;
  padding: 50px 0px;
  @media (max-width: 650px) {
    padding: 20px 0px;
  }
  @media (max-width: 500px) {
    padding: 0;
  }
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 0px auto;
  border-radius: 10px;
  max-width: 1500px;
  @media (max-width: 650px) {
    width: calc(100vw - 50px);
  }
  @media (max-width: 500px) {
    width: calc(100vw);
  }
}

.content {
  padding: 20px 0;
  @media (max-width: 680px) {
    padding: 1px 0;
  }

  &__title {
    margin: 35px 0;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0px -25px;
    padding: 0px 10px;

    @media (max-width: 800px) {
      margin: 0px -10px;
    }

    @media (max-width: 650px) {
      margin: 0px -10px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (max-width: 1300px) {
    &__top {
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
    }
  }
}

.container {
  width: $container-width;
  margin: 10px auto;

  &--cart {
    max-width: 820px;
    margin: 30px auto;
    .content__title {
      margin: 0;
    }
  }
}

.cart {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .content__title {
    display: flex;
    align-items: center;
    font-size: 32px;
    @media (max-width: 680px) {
      font-size: 20px;
    }
    @media (max-width: 360px) {
      flex: 0 0 100%;
    }

    svg {
      position: relative;
      top: -2px;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      path {
        stroke: $black;
        stroke-width: 1.9;
      }
    }
  }

  &__clear {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include noselect();

    span {
      display: inline-block;
      margin-left: 7px;
      color: #b6b6b6;
      font-size: 18px;
    }

    span,
    svg,
    path {
      transition: all $duration ease-in-out;
    }

    &:hover {
      svg {
        path {
          stroke: darken($color: #b6b6b6, $amount: 50);
        }
      }
      span {
        color: darken($color: #b6b6b6, $amount: 50);
      }
    }
    @media (max-width: 680px) {
      span {
        font-size: 17px;
      }
    }
    @media (max-width: 360px) {
      margin: 15px 0px 0px 0px;
    }
  }

  //   &__item {
  //     display: flex;
  //     width: 100%;
  //     border-top: 1px solid $gray-line;
  //     padding-top: 30px;
  //     margin-top: 30px;

  //     &-left {
  //       display: flex;
  //       justify-content: center;
  //       flex: 1 1 50%;
  //     }

  //     &-right {
  //       flex: 1 1 50%;
  //       justify-content: center;
  //       text-align: center;
  //     }
  //     &-image {
  //       flex: 0 0 45%;
  //       display: flex;
  //       justify-content: center;
  //       text-align: center;
  //       position: relative;

  //       img {
  //         width: 100%;
  //         height: 100%;
  //         object-fit: cover;
  //         position: absolute;
  //         top: 0;
  //         left: 0;
  //       }

  //       @media (max-width: 1000px) {
  //         min-height: 90px;
  //       }
  //     }

  //     &-info {
  //       display: flex;
  //       flex-direction: column;
  //       justify-content: center;
  //       margin: 0px 0px 20px 0px;

  //       h3 {
  //         font-weight: bold;
  //         font-size: 22px;
  //         line-height: 27px;
  //         letter-spacing: 0.01em;
  //         margin: 0px 0px 5px 0px;
  //       }

  //       p {
  //         font-size: 18px;
  //         color: #8d8d8d;
  //       }
  //     }

  //     &-count {
  //       display: flex;
  //       align-items: center;
  //       justify-content: center;
  //       margin: 0px 0px 20px 0px;

  //       &-minus {
  //         svg {
  //           path:first-of-type {
  //             display: none;
  //           }
  //         }
  //       }

  //       b {
  //         font-size: 22px;
  //         margin: 0 20px;
  //       }
  //     }

  //     &-price {
  //       display: flex;
  //       align-items: center;
  //       justify-content: center;

  //       b {
  //         font-weight: bold;
  //         font-size: 22px;
  //         letter-spacing: 0.01em;
  //       }
  //     }

  //     &-remove {
  //       display: flex;
  //       align-items: center;
  //       justify-content: flex-end;

  //       .button {
  //         border-color: darken($color: $gray-line, $amount: 10);
  //       }

  //       svg {
  //         transform: rotate(45deg);

  //         path {
  //           fill: darken($color: $gray-line, $amount: 15);
  //         }
  //       }

  //       .button {
  //         svg {
  //           width: 11.5px;
  //           height: 11.5px;
  //           position: relative;
  //         }
  //         &:hover,
  //         &:active {
  //           border-color: darken($color: $gray-line, $amount: 80);
  //           background-color: darken($color: $gray-line, $amount: 80);
  //         }
  //       }
  //     }
  //   }

  &__item {
    display: flex;
    width: 100%;
    border-top: 1px solid $gray-line;
    padding-top: 30px;
    margin-top: 30px;

    &-image {
      flex: 0 0 18%;
      margin: 0px 20px 0px 0px;
      position: relative;
      min-height: 150px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }

      @media (max-width: 1000px) {
        min-height: 90px;
        flex: 0 0 10%;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;

      h3 {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.01em;
      }

      p {
        font-size: 18px;
        color: #8d8d8d;
      }
    }

    &-count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 13%;

      &-minus {
        svg {
          path:first-of-type {
            display: none;
          }
        }
      }

      b {
        font-size: 22px;
      }
    }

    &-price {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33%;

      b {
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 0.01em;
      }
    }

    &-remove {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 4%;

      .button {
        border-color: darken($color: $gray-line, $amount: 10);
      }

      svg {
        transform: rotate(45deg);

        path {
          fill: darken($color: $gray-line, $amount: 15);
        }
      }

      .button {
        svg {
          width: 11.5px;
          height: 11.5px;
          position: relative;
        }
        &:hover,
        &:active {
          border-color: darken($color: $gray-line, $amount: 80);
          background-color: darken($color: $gray-line, $amount: 80);
        }
      }
    }
  }

  &__bottom {
    margin: 50px 0;

    &-details {
      display: flex;
      justify-content: space-between;

      span {
        font-size: 22px;

        &:last-of-type {
          b {
            color: $orange;
          }
        }
      }
    }

    &-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;

      .go-back-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;

        border-color: darken($color: $gray-line, $amount: 10);

        span {
          color: darken($color: $gray-line, $amount: 20);
          font-weight: 500;
          font-weight: 600;
        }

        &:hover {
          background-color: darken($color: $gray-line, $amount: 90);
          border-color: darken($color: $gray-line, $amount: 90);

          span {
            color: $gray-line;
          }
        }

        svg {
          margin-right: 12px;
          path {
            fill: transparent;
            stroke-width: 2;
          }
        }
      }

      .pay-btn {
        font-size: 16px;
        font-weight: 600;
        width: 210px;
        padding: 16px;
      }
    }
  }

  &--empty {
    margin: 0 auto;
    text-align: center;

    overflow: hidden;

    h2 {
      font-size: 32px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      line-height: 145.4%;
      letter-spacing: 0.01em;
      color: #777777;
    }

    span {
      font-style: normal;
      position: relative;
      top: 0px;
      font-size: 26px;
    }

    img {
      display: block;
      max-width: 100%;
      margin: 45px auto 60px;
    }

    .button--black {
      padding: 12px 0 14px;
      width: 230px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 18px;
    }
    @media (max-width: 680px) {
      h2 {
        font-size: 20px;
      }
      span {
        font-size: 20px;
      }
      p {
        font-size: 13px;
      }
    }
  }
}
